
* {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
    font-family: 'Merriweather', serif;
}
.container {
    margin: auto;
    width: 82%;
    max-width: 1320px;
    padding: 50px 140px;
  }

.banner {
background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
url('images/Banner Image.png');
width: 1320px;
height: 600px;
flex-shrink: 0;
background-size: cover;
color: white;
text-align: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    color: white;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

}

.discount {
    margin: auto;
    width: 50%;
    max-width: 800px;
    padding: 10px;
  }


.discount-image{
    height: 500px;
}

#dis-h1{
color: rgb(216, 40, 40);
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px;
}
p{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
padding: 10px;
}

h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    padding-bottom: 20px;
}
/* -----------mid start here */

.midnight-party{
    position: relative;
    padding:40px 0px;
}

.midnight-party img{
    margin: auto;
    width: 80%;
    max-width: 1320px;
    height: auto;
    
}

.party-text{
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    padding: 10px;


}

.party-text h1{
color: white;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}

.party-text p{
color: white;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.party-text img{
    position: absolute;
    right: -350px;
    bottom: -80px;
    width: 319.83px;
    height: 464.662px;


}

.j-button{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/* complete party section */

.event{
    margin: auto;
    width: 82%;
    max-width: 1320px;
    background-image: linear-gradient(to right, rgba(255,0,0,.01), rgba(255,0,0,.2));
}

.event-text{
    margin: auto;
    padding: 100px 350px;
    width: 42%;
    max-width: 550px;
    max-height: 168px;
}

.event-text h4{
color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}

.event-red{
    padding: 5px;
    color: red;
}

#event-button{
    border-radius: 25px;
    padding:8px 12px;
    background-color: red;
    color: white;
}